{% extends 'polls/base.html' %}{% block title %}Delete Polls{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-sm-3">
                <div class="card p-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5 class="text-center">Delete Form</h5>
                        <hr>
                        <p class="form-text text-muted mt-n3 text-center">Are you sure you want to delete {% if obj.question_text %}question "<b>{{obj.question_text}}{% else %}choice "<b>{{obj.option}}</b>"{% endif %}</b>"</p>
                        {% include 'messages.html' %}{{form|crispy}}
                        <hr class="dropdown-divider mb-2"><button type="submit" class="btn btn-danger">Delete</button> <a href="{% url 'homepage' %}" class="btn btn-warning">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>