{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 offset-sm-3">
                    {% for poll in polls %}
                    <div class="modal fade" id="delete-{{ poll.id }}" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5"><i class="bi-exclamation-triangle-fill" style="color: #ffc107;"></i> Delete poll</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="small">Are you sure you want to delete <b>"{{ poll.quiz }}"</b>?</h5>
                                </div>
                                <div class="modal-footer">
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <a href="{% url 'homepage' %}" class="btn btn-secondary" style="color: #fff;"><i class="bi-x-circle-fill"></i> No, Cancel</a>
                                        <button type="submit" name="delete-request" value="{{ poll.id }}" class="btn btn-danger" style="color: #fff;"><i class="bi-trash-fill"></i> Yes, Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <h4 class="fw-bold">Public polls</h4>
                    <h5 class="text-muted mb-4">Polls created by FastPolls members</h5>
                    {% for poll in polls %}
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12"><p class="small text-muted text-end fw-bold">{{ poll.created|timesince }} ago</p></div>
                            </div>
                            <div>
                                <h5 class="mt-0 mb-3 mx-2"><a href="{% url 'vote' poll.id %}">{{ poll.quiz }}</a></h5>
                                <div class="d-flex justify-content-between align-items-center mx-2">
                                    <small class="text-body-secondary">{{ poll.category }}</small>
                                    <div class="btn-group">
                                        {% if request.user == poll.author %}
                                        <a href="{% url 'edit-polls' poll.id %}" class="btn btn-sm btn-outline-success"><i class="bi-pen-fill"></i> Edit</a>
                                        <a href="{% url 'homepage' %}" data-bs-toggle="modal" data-bs-target="#delete-{{ poll.id }}" class="btn btn-sm btn-outline-danger"><i class="bi-trash-fill"></i> Delete</a>

                                        {% else %}
                                        <a href="{% url 'vote' poll.id %}" class="btn btn-sm btn-secondary">View</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>