{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-sm-3">
                    <h3 class="fw-bold">Public polls</h3>
                    <h5 class="text-muted mb-4">Polls created by FastPolls members</h5>
                    {% for poll in polls %}
                    <div class="card card-body mb-3 p-4">
                        <h2 class="card-title question mb-3"><a href="">{{ poll.quiz }}</a></h2>
                        {% if request.user.is_authenticated and request.user == poll.author %}
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <h6 class="small text-muted fw-bold">{{ poll.created|timesince }} ago</h6>
                            </div>
                            <a href="{% url 'edit-polls' poll.id %}" class="text-success" id="edit-link">
                                <i class="bi-pen-fill" style="font-size: 13px;"></i> Edit
                            </a>
                            <a href="{% url 'edit-polls' poll.id %}" class="text-danger" id="delete-link">
                                <i class="bi-trash-fill" style="font-size: 13px"></i> Delete
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
</body>
</html>