{% extends 'polls/base.html' %}{% block title %}Vote{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-sm-2">
                <h3 class="text-center"><strong>Select one option</strong></h3>
                <h5 class="text-center">{{quiz.question_text}}</h5>
                <form action="" method="post">
                    {% csrf_token %}
                    <ul class="list-group mb-n2">
                        {% include 'messages.html' %}
                        {% for choice in choices %}
                        <label for="form">
                            <li class="list-group-item mb-n2">
                                <input type="radio" name="choice" class="form-check-input ml-3" value="{{choice.id}}"><h5 class="ml-5">{{choice.option}}</h5>
                                {% if choice.question.set_by == user.userprofile %}<a href="{% url 'edit_choice' choice.id %}">Edit</a> <a href="{% url 'delete' choice.id %}">Delete</a>{% endif %}
                            </li>
                        </label>
                        {% empty %}
                        <li class="list-group-item"><h6 class="form-text text-muted text-center">No choices available</h6></li>
                        {% endfor %}
                    </ul>
                    <hr class="mt-4 mb-2"><button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>